/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Универсальные настройки */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Стили для секции с навигацией */
.nav-cart h1 {
    padding: 50px 100px;
    font-size: 38px;
    font-weight: 300;
}

/* Cтили для Корзины */
.cart-items {
    padding: 50px 100px;
    /* display: flex; */
}

.cart-items p {
    font-size: 22px;
    font-weight: 400;
}

.cart-items .container-totalItems {
    width: 100%;
}

.cart-items .container-totalItems table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    background-color: white;
}

.cart-items .container-totalItems table th {
    /* background-color: #F6F6F6; */
    text-align: center;
    padding: 10px;
    width: 20%;
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-items .container-totalItems table td {
    text-align: left;
    border-bottom: 1px solid #ddd;;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 10px;
}

.cart-items .container-totalItems table tr:last-child td {
    border-bottom: none;
}

.cart-items .container-totalItems table tr td .remove-btn {
    color: white;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    transition: 0.2s ease-in-out;
}

.cart-items .container-totalItems table tr td .remove-btn:hover {
    background-color: rgb(202, 28, 28);
}

.cart-items .container-totalItems table tr td .quantity {
    margin: 0 15px;
    color: black;
    font-size: 14px;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 2px 5px;
}

.cart-items .container-shopping {
    width: 100%;
    padding-top: 100px;
}

.cart-items .container-shopping .shop {
    display: flex;
    justify-content: space-between;
}

.cart-items .container-shopping .shop span {
    font-size: 20px;
    font-weight: 350;
    background-color: #EAEAEA;
    padding: 20px 50px;
    border-radius: 10px;
}

.cart-items .container-shopping .shop a button {
    padding: 20px 55px;
    background-color: #A65CF0;
    border: none;
    color: white;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    font-size: 16px;
}

.cart-items .container-shopping .shop a button:hover {
    color: white;
    background-color: #7033AC;
}