/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Универсальные настройки */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Стили для секции с формами */
.container-form {
    padding: 100px 100px;
    display: grid;
    place-items: center;
}

.container-form .container--reg-form {
    margin-left: 20px;
    background-color: #EAEAEA;
    padding: 30px 30px;
    border-radius: 15px;
}

.container-form .container--signin-form {
    margin-right: 20px;
    margin-left: 20px;
    background-color: #EAEAEA;
    padding: 30px 30px;
    border-radius: 15px;
}

.container-form .container--reg-form h1,
.container-form .container--signin-form h1 {
    font-weight: 300;
    padding-bottom: 50px;
}

.container-form .container--reg-form label,
.container-form .container--signin-form label {
    color: grey;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.container-form .container--reg-form input,
.container-form .container--signin-form input {
    padding: 10px 10px;
    margin-top: 5px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid #A65CF0;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: #f6f6f6;
    width: 400px;
}

.container-form .container--reg-form form .form-alert,
.container-form .container--signin-form form .form-alert {
    color: black;
    font-size: 14px;
}

.container-form .container--reg-form form button,
.container-form .container--signin-form form button {
    margin-top: 5px;
    padding: 10px 45px;
    background-color: #A65CF0;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    width: 100%;
}

.container-form .container--reg-form form button:hover,
.container-form .container--signin-form form button:hover {
    background-color: #7033AC;
}

.container-form .container--signin-form form .link,
.container-form .container--reg-form form .link {
    display: grid;
    place-items: center;
    padding-top: 30px;
}

.container-form .container--signin-form form .link span,
.container-form .container--reg-form form .link span {
    font-size: 16px;
}

.container-form .container--signin-form form .link a,
.container-form .container--reg-form form .link a {
    margin-top: -17px;
    font-size: 16px;
    border-bottom: 1px solid #A65CF0;
    color:#A65CF0;
    transition: 0.2s ease-in-out;
}

.container-form .container--signin-form form .link a:hover,
.container-form .container--reg-form form .link a:hover {
    color: #7033AC;
}