/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Универсальные настройки */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

button {
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

/* Универсальные стили для таблиц и контейнеров */
.universal {
    padding: 100px 100px;
}

.universal h1 {
    font-weight: 350;
    font-size: 38px;
}

.universal .container-universal {
    padding-top: 20px;
}

.universal .container-universal table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    background-color: white;
}

.universal .container-universal table tr th {
    text-align: center;
    padding: 10px;
    width: 2%;
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
}

.universal .container-universal table tr td {
    text-align: left;
    border-bottom: 1px solid #ddd;;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 0px;
}

.universal .container-universal tr:last-child td {
    border-bottom: none;
}